{{#each randomValues}}
  <div>
    <li>{{this.name}}</li>
    <li>{{this.email}}</li>
    <li>{{this.phone}}</li>
    <li>{{this.city}}</li>
    <li>{{this.state}}</li>
  </div>
  <br>
{{/each}}